{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">All projects</h1>
<p>I listed the only significant projects on this page, some projects are not included regarding to the NDA Agreement.
  If you
  want to look more project, please visit my <a href="https://github.com/RaihanStark">Github Profile</a></p>
{{ end }}

<ul class="project-container">
  {{- range .Data.Pages -}}
  {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
  <section class="project">
    <img src="/images/{{.Params.featured_image}}" />
    <div class="project-meta">
      <h2>
        <a href="{{ .RelPermalink }}">
          {{.Title}}</a>
      </h2>
      <p>
        {{.Description}}
      </p>
      <nav class="nav tags">

        {{range .Params.tags}}
        <ul class="tags">
          <li><a href="#">{{.}}</a></li>
        </ul>

        {{end}}
      </nav>
    </div>
  </section>
  {{- end -}}
  {{- end -}}
</ul>
{{ end }}
